@font-face {
  font-family: 'Georgia-figma';
  src: url("../../assets/fonts/george.ttf");
}

.header__logo-title, .not-only__title, .about__title, .pets__title, .pets__card-item-title, .help__title, .help__subtitle, .donation__title, .donation__subtitle, .donation__credit-card-number, .footer__title, .footer__info-link {
  font-family: 'Georgia-figma', serif;
  font-weight: 400;
  font-style: normal;
}

.header__logo-subtitle, .header__list-link, .not-only__text, .about__text, .donation__text {
  font-family: Arial;
  font-weight: 400;
  font-style: normal;
}

.pets__left-arrow-button, .pets__right-arrow-button, .not-only__button, .pets__card-item-button, .pets__button {
  display: block;
  padding: 15px 45px 15px 45px;
  font-family: 'Georgia-figma', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 22.5px;
  outline: none;
}

.pets__left-arrow-button:hover, .pets__right-arrow-button:hover, .not-only__button:hover, .pets__card-item-button:hover, .pets__button:hover {
  cursor: pointer;
}

.header__logo-title:hover, .header__logo-subtitle:hover, .header__list-link:hover, .donation__credit-card-link:hover, .footer__info-link:hover {
  cursor: pointer;
}

.pets__left-arrow-button, .pets__right-arrow-button {
  padding: 0px;
  height: 52px;
  width: 52px;
  font-size: 20px;
  line-height: 115%;
  border: 2px solid #F1CDB3;
  border-radius: 50%;
  text-align: center;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.header {
  margin: 0px auto;
  width: 1280px;
  overflow: hidden;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.header__content {
  margin: 60px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-title {
  margin: 0px 0px 10px 0px;
  font-size: 33px;
  color: #F1CDB3;
  line-height: 110%;
  letter-spacing: 1px;
  word-spacing: 2.3px;
}

.header__logo-subtitle {
  font-size: 13px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  text-align: end;
}

.header__menu {
  overflow: hidden;
}

.header__list {
  padding: 4px 0px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__list-item:not(:last-child) {
  margin: 0px 35px 0px 0px;
}

.header__list-item > a:hover, .header__list-item:first-child > a {
  padding: 0px 0px 3px 0px;
  border-bottom: 3px solid #F1CDB3;
  color: #FAFAFA;
}

.header__list-link {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  font-size: 15px;
  color: #CDCDCD;
}

main {
  margin: 0px auto;
  width: 1280px;
  overflow: hidden;
}

.not-only {
  width: 100%;
  overflow: hidden;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.not-only__content {
  margin: 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.not-only__subcontent {
  margin: 163px 0px 243px 0px;
  width: 460px;
}

.not-only__title {
  margin: 0px 0px 42px 0px;
  font-size: 44px;
  line-height: 57.2px;
  color: #FFFFFF;
}

.not-only__text {
  margin: 0px 0px 42px 0px;
  font-size: 15px;
  line-height: 24px;
  color: #CDCDCD;
}

.not-only__button {
  margin: 0px;
  color: #292929;
  border-radius: 100px;
  border: none;
  background-color: #F1CDB3;
  color: #292929;
}

.about {
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.about__content {
  margin: 80px 40px 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.about__subcontent {
  width: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 25.72px;
}

.about__title {
  margin: 0px 60px 0px 0px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
}

.about__text {
  margin: 0px;
  font-size: 15px;
  line-height: 24px;
  color: #4C4C4C;
}

.pets {
  width: 100%;
  background-color: #F6F6F6;
  overflow: hidden;
}

.pets__content {
  margin: 80px 40px 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.pets__title {
  margin: 0px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.pets__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 53px;
          column-gap: 53px;
}

.pets__left-arrow-button {
  background: url("../../assets/images/main/pets/arrow-left.png") no-repeat center;
}

.pets__right-arrow-button {
  background: url("../../assets/images/main/pets/arrow-right.png") no-repeat center;
}

.pets__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 90px;
          column-gap: 90px;
}

.pets__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.pets__card-item:hover {
  cursor: pointer;
}

.pets__card-item-img {
  border-radius: 9px 9px 0px 0px;
}

.pets__card-item-title {
  margin: 30px 0px 0px 0px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #292929;
}

.pets__card-item-button {
  padding: 13px 43px 13px 43px;
  margin: 30px 0px 30px 0px;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
}

.pets__mobile-arrow-buttons {
  display: none;
}

.pets__button {
  background-color: #F1CDB3;
  border: none;
  border-radius: 100px;
  color: #292929;
}

.help {
  margin: 0px auto;
  width: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
}

.help__content {
  margin: 80px 40px 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 60px;
  overflow: hidden;
}

.help__title {
  margin: 0px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.help__list {
  margin: 0px 85px 0px 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 120px;
          column-gap: 120px;
  row-gap: 55px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.help__subtitle {
  margin: 0px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation {
  margin: 0px auto;
  width: 100%;
  background-color: #F6F6F6;
  overflow: hidden;
}

.donation__content {
  margin: 80px 40px 100px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.donation__title {
  margin: 0px 80px 0px 0px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__img {
  margin: 12px 0px 11px 0px;
}

.donation__info {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 20px;
  overflow: hidden;
}

.donation__subtitle {
  margin: 0px;
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__credit-card {
  padding: 10px 15px 10px 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  background-color: #F1CDB3;
  border-radius: 9px;
}

.donation__credit-card-img {
  display: inline-block;
}

.donation__credit-card-img > img {
  display: block;
}

.donation__credit-card-link {
  margin: 0px;
  padding: 0px;
}

.donation__credit-card-number {
  margin: 0px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.donation__text {
  margin: 0px;
  font-size: 12px;
  font-style: italic;
  line-height: 18px;
  color: #B2B2B2;
}

.footer {
  margin: 0px auto;
  width: 1280px;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  overflow: hidden;
}

.footer__content {
  margin: 40px 40px 0px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.footer__info-content {
  margin: 16px 0px 60px 0px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.footer__title {
  margin: 0px;
  width: 280px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__info {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info-icon {
  display: inline-block;
}

.footer__info-icon > img {
  display: block;
}

.footer__info-link {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}

@media (max-width: 1279px) {
  .header {
    width: 768px;
  }
  .header__content {
    margin: 30px;
  }
  main {
    width: 768px;
  }
  main .not-only__content {
    margin: 30px auto 0px auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 100px;
  }
  main .not-only__subcontent {
    margin: 0px;
  }
  main .not-only__button {
    margin: 0px auto;
  }
  main .not-only__img {
    margin: 0px 30px 0px 169px;
    height: 593px;
    width: 569px;
  }
  main .about__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 80px;
  }
  main .pets__content {
    margin: 80px 30px 100px 30px;
  }
  main .pets__slider {
    -webkit-column-gap: 12px;
            column-gap: 12px;
  }
  main .pets__cards {
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  main .pets__card-item:last-child {
    display: none;
  }
  main .help__content {
    margin: 80px 69px 100px 69px;
  }
  main .help__list {
    margin: 0px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 170px 170px 170px;
        grid-template-columns: 170px 170px 170px;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 55px;
  }
  main .donation__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    row-gap: 60px;
  }
  main .donation__img {
    margin: 0px;
  }
  .footer {
    width: 768px;
  }
  .footer__content {
    margin: 30px 30px 0px 30px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 60px;
            column-gap: 60px;
    row-gap: 65px;
  }
  .footer__info-content {
    margin: 0px;
  }
}

@media (max-width: 767px) {
  .header {
    width: 320px;
  }
  .header__content {
    margin: 30px 53px 30px 10px;
  }
  .header__menu {
    display: none;
  }
  main {
    width: 320px;
  }
  main .not-only__content {
    margin: 30px 10px 0px 10px;
    row-gap: 105px;
  }
  main .not-only__subcontent {
    margin: 0px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .not-only__title {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
  }
  main .not-only__img {
    margin: 0px 0px 0px 40px;
    height: 271.77px;
    width: 260px;
  }
  main .about__content {
    margin: 42px 10px;
    row-gap: 42px;
  }
  main .about__subcontent {
    margin: 0px;
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 0px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .about__title {
    margin: 0px 0px 25px 0px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  main .about__text {
    margin: 0px 15px;
    text-align: justify;
  }
  main .about__text:last-child {
    margin-top: 22px;
  }
  main .about__img {
    height: 353.6px;
    width: 260px;
  }
  main .pets {
    width: 320px;
  }
  main .pets__content {
    margin: 42px 10px;
    row-gap: 42px;
  }
  main .pets__title {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  main .pets__slider {
    margin: 0px 15px 0px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 20px;
  }
  main .pets__left-arrow-button, main .pets__right-arrow-button {
    display: none;
  }
  main .pets__card-item:nth-child(2) {
    display: none;
  }
  main .pets__mobile-arrow-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 80px;
            column-gap: 80px;
  }
  main .pets__mobile-arrow-buttons .pets__left-arrow-button, main .pets__mobile-arrow-buttons .pets__right-arrow-button {
    display: inline-block;
  }
  main .help {
    width: 320px;
  }
  main .help__content {
    margin: 42px 15px;
    row-gap: 42px;
  }
  main .help__title {
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
  }
  main .help__list {
    -ms-grid-columns: 130px 130px;
        grid-template-columns: 130px 130px;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    row-gap: 30px;
  }
  main .help__list-item {
    height: 87px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    row-gap: 0px;
  }
  main .help__img {
    height: calc(100% * 0.6);
  }
  main .help__subtitle {
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.06em;
  }
  main .donation {
    width: 320px;
  }
  main .donation__content {
    margin: 42px 15px;
    row-gap: 42px;
  }
  main .donation__info {
    width: 300px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .donation__title {
    margin: 0px;
    display: block;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  main .donation__subtitle {
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 0px;
  }
  main .donation__credit-card {
    padding: 10px 15px;
  }
  main .donation__credit-card-link {
    padding: 3px 0px 0px 0px;
  }
  main .donation__credit-card-number {
    display: block;
    font-size: 15px;
    line-height: 16.5px;
    letter-spacing: 0.06em;
  }
  main .donation__text {
    margin: 0px 10px 0px 10px;
    font-size: 12px;
    line-height: 18px;
    text-align: justify;
  }
  main .donation__img {
    width: 260px;
  }
  .footer {
    width: 320px;
  }
  .footer__content {
    margin: 30px 10px 0px 10px;
    row-gap: 40px;
  }
  .footer__info-content {
    height: auto;
    margin: 0px;
    row-gap: 40px;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
  }
  .footer__info-content:nth-child(2) .footer__info {
    -webkit-column-gap: 19px;
            column-gap: 19px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .footer__title {
    margin: 0px 10px 0px 10px;
    font-size: 25px;
    line-height: 32.5px;
    letter-spacing: 0.06em;
    text-align: center;
  }
  .footer__info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__img {
    width: 260px;
  }
}
/*# sourceMappingURL=index.css.map */