@font-face {
    font-family: 'Georgia-figma';
    src: url('../../assets/fonts/george.ttf');
}

$dark-light-color: #545454;
$dark-color: #292929;
$dark-s-color: #CDCDCD;
$dark-xl-color: #4C4C4C;
$dark-m-color: #B2B2B2;
$primary-color: #F1CDB3;
$light-l-color: #F6F6F6;
$light-s-color: #FAFAFA;
$white-color: #FFFFFF;
$noise-transparent: url('../../assets/images/noise_transparent.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;


%george-font {
    font-family: 'Georgia-figma', serif;
    font-weight: 400;
    font-style: normal;
}

%arial-font {
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
}

%button {
    display: block;
    padding: 15px 45px 15px 45px;
    font-family: 'Georgia-figma', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 0.06em;
    line-height: 22.5px;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

%link {
    &:hover {
        cursor: pointer;
    }
}

%circle-button {
    padding: 0px;
    height: 52px;
    width: 52px;
    @extend %button;
    font-size: 20px;
    line-height: 115%;
    border: 2px solid $primary-color;
    border-radius: 50%;
    text-align: center;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.header {
    margin: 0px auto;
    width: 1280px;
    overflow: hidden;
    background: $noise-transparent;

    &__content {
        margin: 60px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__logo-title {
        margin: 0px 0px 10px 0px;
        @extend %george-font, %link;
        font-size: 33px;
        color: $primary-color;
        line-height: 110%;
        letter-spacing: 1px;
        word-spacing: 2.3px;
    }

    &__logo-subtitle {
        @extend %arial-font, %link;
        font-size: 13px;
        color: $white-color;
        letter-spacing: 0.1em;
        text-align: end;
    }

    &__menu {
        overflow: hidden;
    }

    &__list {
        padding: 4px 0px 5px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
    }

    &__list-item {
        &:not(:last-child) {
            margin: 0px 35px 0px 0px;
        }
        
        &>a:hover, &:first-child>a{
            padding: 0px 0px 3px 0px;
            border-bottom: 3px solid $primary-color;
            color: $light-s-color;
        }
    }

    &__list-link {
        margin: 0px;
        padding: 5px 0px 0px 0px;
        @extend %arial-font, %link;
        font-size: 15px;
        color: $dark-s-color;
    }
}

main {
    margin: 0px auto;
    width: 1280px;
    overflow: hidden;
}


.not-only {
    width: 100%;
    overflow: hidden;
    background: $noise-transparent;
    
    &__content {
        margin: 0px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }

    &__subcontent {
        margin: 163px 0px 243px 0px;
        width: 460px;
    }

    &__title {
        margin: 0px 0px 42px 0px;
        @extend %george-font;
        font-size: 44px;
        line-height: 57.2px;
        color: $white-color;
    }

    &__text {
        margin: 0px 0px 42px 0px;
        @extend %arial-font;
        font-size: 15px;
        line-height: 24px;
        color: $dark-s-color;
    }

    &__button {
        margin: 0px;
        @extend %button;
        color: $dark-color;
        border-radius: 100px;
        border: none;
        background-color: $primary-color;
        color: $dark-color;
    }
}

.about {
    width: 100%;
    background-color: $white-color;
    overflow: hidden;

    &__content {
        margin: 80px 40px 100px 40px;
        display: flex;
        flex-direction: row;
        column-gap: 120px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }


    &__subcontent {
        width: 430px;
        display: flex;
        flex-direction: column;
        row-gap: 25.72px;
    }

    &__title {
        margin: 0px 60px 0px 0px;
        @extend %george-font;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
    }

    &__text {
        margin: 0px;
        @extend %arial-font;
        font-size: 15px;
        line-height: 24px;
        color: $dark-xl-color;
    }
}

.pets {
    width: 100%;
    background-color: $light-l-color;
    overflow: hidden;

    &__content {
        margin: 80px 40px 100px 40px;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        align-items: center;
        overflow: hidden;
    }

    &__title {
        margin: 0px;
        @extend %george-font;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
        text-align: center;
    }

    &__slider {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 53px;
    }

    &__left-arrow-button {
        @extend %circle-button;
        background: url('../../assets/images/main/pets/arrow-left.png') no-repeat center;
    }

    &__right-arrow-button {
        @extend %circle-button;
        background: url('../../assets/images/main/pets/arrow-right.png') no-repeat center;
    }

    &__cards {
        display: flex;
        flex-direction: row;
        column-gap: 90px;
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $light-s-color;
        border-radius: 9px;

        &:hover {
            cursor: pointer;
        }
    }

    &__card-item-img {
        border-radius: 9px 9px 0px 0px;
    }

    &__card-item-title {
        margin: 30px 0px 0px 0px;
        @extend %george-font;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $dark-color;
    }

    &__card-item-button {
        padding: 13px 43px 13px 43px;
        margin: 30px 0px 30px 0px;
        @extend %button;
        background-color: $light-s-color;
        border: 2px solid $primary-color;
        border-radius: 100px;
        color: $dark-color;
    }

    &__mobile-arrow-buttons {
        display: none;
    }

    &__button {
        @extend %button;
        background-color: $primary-color;
        border: none;
        border-radius: 100px;
        color: $dark-color;
    }
}

.help {
    margin: 0px auto;
    width: 100%;
    background-color: $white-color;
    overflow: hidden;

    &__content {
        margin: 80px 40px 100px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
        overflow: hidden;
    }

    &__title {
        margin: 0px;
        @extend %george-font;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
        text-align: center;
    }

    &__list {
        margin: 0px 85px 0px 85px;
        display: flex;
        flex-wrap: wrap;
        column-gap: 120px;
        row-gap: 55px;
        justify-content: center;
    }

    &__list-item {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }

    &__subtitle {
        margin: 0px;
        @extend %george-font;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
    }
}

.donation {
    margin: 0px auto;
    width: 100%;
    background-color: $light-l-color;
    overflow: hidden;

    &__content {
        margin: 80px 40px 100px 40px;
        display: flex;
        flex-direction: row;
        column-gap: 30px;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    &__title {
        margin: 0px 80px 0px 0px;
        @extend %george-font;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
    }

    &__img {
        margin: 12px 0px 11px 0px;
    }

    &__info {
        width: 380px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 20px;
        overflow: hidden;
    }

    &__subtitle {
        margin: 0px;
        @extend %george-font;
        font-size: 15px;
        line-height: 17px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
    }

    &__credit-card {
        padding: 10px 15px 10px 15px;
        display: inline-flex;
        flex-direction: row;
        column-gap: 15px;
        background-color: $primary-color;
        border-radius: 9px;
    }

    &__credit-card-img {
        display: inline-block;

        &>img {
            display: block;
        }
    }
    &__credit-card-link {
        margin: 0px;
        padding: 0px;;
        @extend %link;
    }

    &__credit-card-number {
        margin: 0px;
        @extend %george-font;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
    }

    &__text {
        margin: 0px;
        @extend %arial-font;
        font-size: 12px;
        font-style: italic;
        line-height: 18px;
        color: $dark-m-color
    }

}

.footer {
    margin: 0px auto;
    width: 1280px;
    background: $noise-transparent;
    overflow: hidden;

    &__content {
        margin: 40px 40px 0px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }

    &__info-content {
        margin: 16px 0px 60px 0px;
        height: 234px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    &__title {
        margin: 0px;
        width: 280px;
        @extend %george-font;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: $white-color;
    }

    &__info {
        margin: 0px;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    }

    &__info-icon {
        display: inline-block;

        &>img {
            display: block;
        }
    }

    &__info-link {
        @extend %george-font, %link;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $primary-color;
        text-decoration: none;
    }
}

@media (max-width: 1279px) {
    .header {
        width: 768px;
        &__content {
            margin: 30px;
        }
    }

    main {
        width: 768px;
        .not-only {
            &__content {
                margin: 30px auto 0px auto;
                flex-direction: column;
                align-items: center;
                row-gap: 100px;
            }

            &__subcontent {
                margin: 0px;
            }

            &__button {
                margin: 0px auto;
            }

            &__img {
                margin: 0px 30px 0px 169px;
                height: 593px;
                width: 569px;
            }
        }

        .about {
            &__content {
                flex-direction: column-reverse;
                row-gap: 80px;
            }
        }

        .pets {
            &__content {
                margin: 80px 30px 100px 30px;
            }

            &__slider {
                column-gap: 12px;
            }

            &__cards {
                column-gap: 40px;
            }

            &__card-item {
                &:last-child {
                    display: none;
                }
            }
        }

        .help {
            &__content {
                margin: 80px 69px 100px 69px;
            }

            &__list {
                margin: 0px;
                display: grid;
                grid-template-columns: 170px 170px 170px;
                column-gap: 60px;
                row-gap: 55px;
            }
        }

        .donation {
            &__content {
                flex-direction: column-reverse;
                row-gap: 60px;
            }

            &__img {
                margin: 0px;
            }
        }
    }

    .footer {
        width: 768px;

        &__content {
            margin: 30px 30px 0px 30px;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 60px;
            row-gap: 65px;
        }

        &__info-content {
            margin: 0px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        width: 320px;

        &__content {
            margin: 30px 53px 30px 10px;
        }

        &__menu {
            display: none;
        }
    }

    main {
        width: 320px;

        .not-only {
            &__content {
                margin: 30px 10px 0px 10px;
                row-gap: 105px;
            }

            &__subcontent {
                margin: 0px;
                width: 300px;
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            &__title {
                font-size: 25px;
                line-height: 32.5px;
                letter-spacing: 0.06em;
            }

            &__img {
                margin: 0px 0px 0px 40px;
                height: 271.77px;
                width: 260px;
            }
        }

        .about {
            &__content {
                margin: 42px 10px;
                row-gap: 42px;
            }

            &__subcontent {
                margin: 0px;
                width: 300px;
                display: flex;
                flex-direction: column;
                row-gap: 0px;
                align-items: center;
            }

            &__title {
                margin: 0px 0px 25px 0px;
                font-size: 25px;
                line-height: 32.5px;
                letter-spacing: 0.06em;
                text-align: center;
            }

            &__text {
                margin: 0px 15px;
                text-align: justify;

                &:last-child {
                    margin-top: 22px;
                }
            }

            &__img {
                height: 353.6px;
                width: 260px;
            }
        }

        .pets {
            width: 320px;

            &__content {
                margin: 42px 10px;
                row-gap: 42px;
            }

            &__title {
                font-size: 25px;
                line-height: 32.5px;
                letter-spacing: 0.06em;
                text-align: center;
            }

            &__slider {
                margin: 0px 15px 0px 15px;
                flex-direction: column;
                row-gap: 20px;
            }

            &__left-arrow-button, &__right-arrow-button {
                display: none;
            }

            &__card-item {
                &:nth-child(2) {
                    display: none;
                }
            }

            &__mobile-arrow-buttons {
                display: flex;
                flex-direction: row;
                column-gap: 80px;

                .pets__left-arrow-button, .pets__right-arrow-button {
                    display: inline-block;
                }
            }
        }

        .help {
            width: 320px;

            &__content {
                margin: 42px 15px;
                row-gap: 42px;
            }

            &__title {
                font-size: 25px;
                line-height: 32.5px;
                letter-spacing: 0.06em;
            }

            &__list {
                grid-template-columns: 130px 130px;
                column-gap: 30px;
                row-gap: 30px;
            }

            &__list-item {
                height: 87px;
                justify-content: space-between;
                row-gap: 0px;
            }

            &__img {
                height: calc(100% * 0.6);
            }

            &__subtitle {
                font-size: 15px;
                line-height: 16.5px;
                letter-spacing: 0.06em;
            }
        }

        .donation {
            width: 320px;

            &__content {
                margin: 42px 15px;
                row-gap: 42px;
            }

            &__info {
                width: 300px;
                align-items: center;
            }

            &__title {
                margin: 0px;
                display: block;
                font-size: 25px;
                line-height: 32.5px;
                letter-spacing: 0.06em;
                text-align: center;
            }

            &__subtitle {
                font-size: 15px;
                line-height: 24px;
                letter-spacing: 0px;
            }

            &__credit-card {
                padding: 10px 15px;
            }

            &__credit-card-link {
                padding: 3px 0px 0px 0px;
            }

            &__credit-card-number {
                display: block;
                font-size: 15px;
                line-height: 16.5px;
                letter-spacing: 0.06em;
            }

            &__text {
                margin: 0px 10px 0px 10px;
                font-size: 12px;
                line-height: 18px;
                text-align: justify;
            }

            &__img {
                width: 260px;
            }
        }
    }

    .footer {
        width: 320px;

        &__content {
            margin: 30px 10px 0px 10px;
            row-gap: 40px;
        }

        &__info-content {
            height: auto;
            margin: 0px;
            row-gap: 40px;
            justify-content: baseline;


            &:nth-child(2) {
                .footer__info {
                    column-gap: 19px;
                    justify-content: start;
                }
            }
        }

        &__title {
            margin: 0px 15px 0px 15px;
            font-size: 25px;
            line-height: 32.5px;
            letter-spacing: 0.06em;
            text-align: center;
        }

        &__info {
            justify-content: center;
        }

        &__img {
            width: 260px;
        }
    }
}