@font-face {
  font-family: 'Georgia-figma';
  src: url("../../assets/fonts/george.ttf");
}

.header__logo-title, .pets__content-title, .pets__card-title, .footer__title, .footer__info-link {
  font-family: 'Georgia-figma', serif;
  font-weight: 400;
  font-style: normal;
}

.header__logo-subtitle, .header__list-link {
  font-family: Arial;
  font-weight: 400;
  font-style: normal;
}

.pets__start-button, .pets__left-button, .pets__current-page-button, .pets__right-button, .pets__end-button, .pets__card-button {
  display: block;
  padding: 13px 43px 13px 43px;
  font-family: 'Georgia-figma', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  letter-spacing: 0.06em;
  line-height: 22.5px;
  outline: none;
}

.pets__start-button:hover, .pets__left-button:hover, .pets__current-page-button:hover, .pets__right-button:hover, .pets__end-button:hover, .pets__card-button:hover {
  cursor: pointer;
}

.header__logo-title:hover, .header__logo-subtitle:hover, .header__list-link:hover, .footer__info-link:hover {
  cursor: pointer;
}

.pets__start-button, .pets__left-button, .pets__current-page-button, .pets__right-button, .pets__end-button {
  padding: 0px;
  height: 52px;
  width: 52px;
  font-size: 20px;
  line-height: 115%;
  border-radius: 50%;
  text-align: center;
}

html, body {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.header {
  margin: 0px auto;
  width: 1280px;
  overflow: hidden;
}

.header__content {
  margin: 30px 40px;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo-title {
  margin: 0px 0px 8px 0px;
  font-size: 33px;
  color: #545454;
  line-height: 110%;
  letter-spacing: 1px;
  word-spacing: 2.3px;
}

.header__logo-subtitle {
  font-size: 13px;
  color: #292929;
  letter-spacing: 0.1em;
  text-align: end;
}

.header__menu {
  overflow: hidden;
}

.header__list {
  padding: 4px 0px 5px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.header__list-item:not(:last-child) {
  margin: 0px 35px 0px 0px;
}

.header__list-item > a:hover, .header__list-item:nth-child(2) > a {
  padding: 0px 0px 3px 0px;
  border-bottom: 3px solid #F1CDB3;
  color: #292929;
}

.header__list-link {
  margin: 0px;
  padding: 5px 0px 0px 0px;
  font-size: 15px;
  color: #545454;
}

.pets {
  margin: 0px auto;
  width: 1280px;
  background-color: #F6F6F6;
  overflow: hidden;
}

.pets__content {
  margin: 80px auto 100px auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 45px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.pets__content-title {
  margin: 0px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #545454;
  text-align: center;
}

.pets__cards {
  padding: 15px 0px 15px 0px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 270px 270px 270px 270px;
      grid-template-columns: 270px 270px 270px 270px;
  row-gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.pets__card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.pets__card-item:hover {
  cursor: pointer;
}

.pets__card-img {
  border-radius: 9px 9px 0px 0px;
}

.pets__card-title {
  margin: 30px 0px 0px 0px;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #292929;
}

.pets__card-button {
  margin: 30px 0px 30px 0px;
  background-color: #FAFAFA;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  color: #292929;
}

.pets__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.pets__start-button, .pets__left-button {
  border: 2px solid #CDCDCD;
  color: #CDCDCD;
}

.pets__current-page-button {
  background-color: #F1CDB3;
  border: none;
  color: #292929;
}

.pets__right-button, .pets__end-button {
  border: 2px solid #F1CDB3;
  color: #292929;
}

.footer {
  margin: 0px auto;
  width: 1280px;
  background: url("../../assets/images/noise_transparent.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  overflow: hidden;
}

.footer__content {
  margin: 40px auto 0px auto;
  width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.footer__info-content {
  margin: 16px 0px 60px 0px;
  height: 234px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
}

.footer__title {
  margin: 0px;
  font-size: 35px;
  line-height: 45.5px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer__info {
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__info-icon {
  display: inline-block;
}

.footer__info-icon > img {
  display: block;
}

.footer__info-link {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  text-decoration: none;
}
/*# sourceMappingURL=index.css.map */