@font-face {
    font-family: 'Georgia-figma';
    src: url('../../assets/fonts/george.ttf');
}

$dark-light-color: #545454;
$dark-color: #292929;
$dark-s-color: #CDCDCD;
$primary-color: #F1CDB3;
$light-l-color: #F6F6F6;
$light-s-color: #FAFAFA;
$white-color: #FFFFFF;

%george-font {
    font-family: 'Georgia-figma', serif;
    font-weight: 400;
    font-style: normal;
}

%arial-font {
    font-family: Arial;
    font-weight: 400;
    font-style: normal;
}

%button {
    display: block;
    padding: 13px 43px 13px 43px;
    font-family: 'Georgia-figma', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    letter-spacing: 0.06em;
    line-height: 22.5px;
    outline: none;

    &:hover {
        cursor: pointer;
    }
}

%link {
    &:hover {
        cursor: pointer;
    }
}

%paginator-button {
    padding: 0px;
    height: 52px;
    width: 52px;
    @extend %button;
    font-size: 20px;
    line-height: 115%;
    border-radius: 50%;
    text-align: center;
}

html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
}

.header {
    margin: 0px auto;
    width: 1280px;
    position: sticky;
    top: 0;
    background-color: $white-color;
    overflow: hidden;

    &__content {
        margin: 30px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__logo-title {
        margin: 0px 0px 10px 0px;
        @extend %george-font, %link;
        font-size: 33px;
        color: $dark-light-color;
        line-height: 110%;
        letter-spacing: 1px;
        word-spacing: 2.3px;
    }

    &__logo-subtitle {
        @extend %arial-font, %link;
        font-size: 13px;
        color: $dark-color;
        letter-spacing: 0.1em;
        text-align: end;
    }

    &__menu {
        overflow: hidden;
    }

    &__list {
        padding: 4px 0px 5px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        list-style-type: none;
    }

    &__list-item {
        &:not(:last-child) {
            margin: 0px 35px 0px 0px;
        }
        
        &>a:hover, &:nth-child(2)>a{
            padding: 0px 0px 3px 0px;
            border-bottom: 3px solid $primary-color;
            color: $dark-color;
        }
    }

    &__list-link {
        margin: 0px;
        padding: 5px 0px 0px 0px;
        @extend %arial-font, %link;
        font-size: 15px;
        color: $dark-light-color;
    }
}

main {
    margin: 0px auto;
    width: 1280px;
    overflow: hidden;
}

.pets {
    margin: 0px auto;
    width: 1280px;
    background-color: $light-l-color;
    overflow: hidden;

    &__content {
        margin: 80px 40px 100px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 45px;
        align-items: center;
        overflow: hidden;
    }

    &__content-title {
        margin: 0px;
        @extend %george-font;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: $dark-light-color;
        text-align: center;
    }

    &__cards {
        padding: 15px 0px 15px 0px;
        width: 100%;
        display: grid;
        grid-template-columns: 270px 270px 270px 270px;
        row-gap: 30px;
        justify-content: space-between;
        overflow: hidden;
    }

    &__card-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $light-s-color;
        border-radius: 9px;

        &:hover {
            cursor: pointer;
        }
    }

    &__card-img {
        border-radius: 9px 9px 0px 0px;
    }

    &__card-title {
        margin: 30px 0px 0px 0px;
        @extend %george-font;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $dark-color;
    }

    &__card-button {
        margin: 30px 0px 30px 0px;
        @extend %button;
        background-color: $light-s-color;
        border: 2px solid $primary-color;
        border-radius: 100px;
        color: $dark-color;
    }

    &__pagination {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
    }

    &__start-button, &__left-button {
        @extend %paginator-button;
        border: 2px solid $dark-s-color;
        color: $dark-s-color
    }

    &__current-page-button {
        @extend %paginator-button;
        background-color: $primary-color;
        border: none;
        color: $dark-color;
    }

    &__right-button, &__end-button {
        @extend %paginator-button;
        border: 2px solid $primary-color;
        color: $dark-color
    }
}

.footer {
    margin: 0px auto;
    width: 1280px;
    background: url('../../assets/images/noise_transparent.png'), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    overflow: hidden;

    &__content {
        margin: 40px 40px 0px 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }

    &__info-content {
        margin: 16px 0px 60px 0px;
        height: 234px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    &__title {
        margin: 0px;
        width: 280px;
        @extend %george-font;
        font-size: 35px;
        line-height: 45.5px;
        letter-spacing: 0.06em;
        color: $white-color;
    }

    &__info {
        margin: 0px;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: center;
    }

    &__info-icon {
        display: inline-block;

        &>img {
            display: block;
        }
    }

    &__info-link {
        @extend %george-font, %link;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 0.06em;
        color: $primary-color;
        text-decoration: none;
    }
}


@media (max-width: 1279px) {
    .header {
        width: 768px;
        &__content {
            margin: 30px;
        }
    }

    main {
        width: 768px;
    }

    .pets {
        width: 768px;

        &__content {
            padding: 20px 0px 6px 0px;
            margin: 60px 30px 70px 30px;
            row-gap: 0px;
            overflow: hidden;
        }

        &__content-title {
            margin: 0px 0px 30px 0px;
        }

        &__cards {
            padding: 0px;
            margin: 0px 0px 40px 0px;
            width: auto;
            grid-template-columns: 270px 270px;
            column-gap: 40px;
            justify-content: baseline;
        }

        &__card-item {
            &:nth-child(7), &:nth-child(8) {
                display: none;
            }
        }
    }

    .footer {
        width: 768px;

        &__content {
            margin: 30px 30px 0px 30px;
            flex-wrap: wrap;
            justify-content: center;
            column-gap: 60px;
            row-gap: 65px;
        }

        &__info-content {
            margin: 0px;
        }
    }
}

@media (max-width: 767px) {
    .header {
        width: 320px;

        &__content {
            margin: 30px 53px 30px 10px;
        }

        &__menu {
            display: none;
        }
    }

    main {
        width: 320px;
    }

    .pets {
        width: 320px;

        &__content {
            padding: 0px;
            margin: 42px 10px 42px 10px;
            row-gap: 42px;
        }

        &__content-title {
            margin: 0px;
            font-size: 25px;
            line-height: 32.5px;
            letter-spacing: 0.06em;
        }

        &__cards {
            margin: 0px;
            grid-template-columns: 270px;
        }

        &__card-item {
            &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7), &:nth-child(8) {
                display: none;
            }
        }

        &__pagination {
            column-gap: 10px;
        }
    }

    .footer {
        width: 320px;

        &__content {
            margin: 30px 10px 0px 10px;
            row-gap: 40px;
        }

        &__info-content {
            height: auto;
            margin: 0px;
            row-gap: 40px;
            justify-content: baseline;


            &:nth-child(2) {
                .footer__info {
                    column-gap: 19px;
                    justify-content: start;
                }
            }
        }

        &__title {
            margin: 0px 10px 0px 10px;
            font-size: 25px;
            line-height: 32.5px;
            letter-spacing: 0.06em;
            text-align: center;
        }

        &__info {
            justify-content: center;
        }

        &__img {
            width: 260px;
        }
    }
}